/*Imports*/
@import url('https://fonts.googleapis.com/css?family=Abel|Jacques+Francois|Josefin+Sans|Megrim');

/* Adjustments & Corrections */
* {
    box-sizing: border-box;
    margin: 0;
}

html {
    line-height: 1.15;
    /* 1 */
}

main {
    display: block;
}

hr {
    border: none;
    border-top: 1px #CCCCCC solid;
    height: 1px;
}

/* Styling */

.wrapper {
    margin: auto;
}

header {
    margin-top: 3rem;
}

#main-header,
footer,
.profile,
#Contact {
    padding-left: 1em;
    padding-right: 1em;
}

.section {
    display: block;
    text-align: center;
}

.portfolio-container {
    width: 100%;
    font-size: 0;
}

figure {
    margin: 0;
    padding-left: 1em;
    padding-right: 1em;
    border: 0;
    vertical-align: top;
    font-size: initial;
}

.image {
    width: 100%;
    height: auto;
}

h2,
.name {
    text-align: center;
}


h2 {
    font-family: 'Josefin Sans', sans-serif;
    color: #8A6161;
}

.name {
    font-family: 'Megrim', cursive;
    font-size: 36px;
}

p,
h3 {
    font-family: 'Jacques Francois', serif;
    color: #5B5B5B;
}

#footer-name {
    display: inline-block;
    padding: 1em;
}

/* Header & Navigation */

.nav-wrapper,
#Contact {
    text-align: center;
}

.nav-wrapper ul,
#Skills ul {
    padding: 0;
    list-style-type: none;
}

.skill-container {
    text-align: center;
}

footer li,
#Skills li {
    padding: 1rem;
}

#Skills li {
    background: #fff;
    text-align: center;
    font-family: 'Jacques Francois', serif;
    color: #5B5B5B;
    border-radius: 10px;
    margin: 1rem;
}

#backToTop {
    padding: 1em;
}

a,
a:link,
a:visited {
    text-decoration: none;
    color: #000;
}

a:hover {
    color: #8A6161;
}

#profile-img {
    max-width: 100%;
}

#profile-about {
    padding-top: 1rem;
}

.nav-wrapper a:link {
    color: #000;
}

figure {
    padding: 1rem;
}

figure img {
    border-radius: 10px;
}

figure h3 {
    padding: 1rem 0;
    text-align: center;
}

#About,
section:nth-child(even) {
    background: #FFF;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

section:nth-child(odd) {
    background: #FFECEC;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

section h2 {
    padding-bottom: 2rem;
}

.clearfix::before,
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.contact-info {
    padding-left: 1rem;
    font-weight: 600;
}

#footer-nav {
    display: inline;
}

#footer-nav .nav-wrapper {
    display: none;
}

footer a,
footer a:visited {
    font-family: 'Josefin Sans', sans-serif;
    color: #8A6161;
}

#backToTop {
    display: inline-block;
    float: right;
}

#main-header li:not(.name) {
    background: #FFECEC;
    border-radius: 5px;
    margin: 1rem;
}

#main-header li:not(.name) a {
    font-family: 'Abel', sans-serif;
    color: #8A6161;
    font-size: 1.5rem;
    padding: 1rem;
    display: block;
}


footer {
    background: #FFECEC;
}

/* Media Queries & Responsive*/

@media (min-width: 768px) {
    .name {
        display: block;
    }

    nav li {
        display: inline-block;
    }

    #profile-img {
        float: right;
        width: 50%;
    }

    #profile-about {
        float: left;
        vertical-align: top;
        width: 50%;
        font-size: 1.2rem;
    }

    .skill-list {
        display: inline-block;
    }

    #Portfolio figure {
        display: inline-block;
        width: 50%;
    }

    #Contact p {
        font-size: 1.2rem;
        padding-left: 10rem;
        padding-right: 10rem;
    }

    footer {
        padding-top: 2rem;
        padding-bottom: 3rem;
    }

    #footer-nav {
        display: inline-block;
        float: right;
    }

    #footer-nav .nav-wrapper {
        display: block;
    }

    footer a {
        font-size: 1.2rem;
    }

    #backToTop {
        display: none;
    }
}

@media (min-width: 1024px) {
    #main-header .name {
        display: block;
        margin-right: auto;
        padding: 1rem;
    }

    nav ul {
        display: flex;
    }

    .nav-wrapper {
        display: block;
    }

    #profile-about {
        font-size: 1.5rem;
    }

    #Portfolio figure {
        width: 33.3%;
    }

    figure p {
        font-size: 1.2rem;
    }

    #Contact p {
        font-size: 1.2rem;
        padding-left: 15rem;
        padding-right: 15rem;
    }

    footer a {
        font-size: 1.2rem;
    }

}
